.outter {
    width: 100vw;
    height: 100vh;
    display: none;
}
.page2 {

  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  background-color: #0072BB;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 3vh;
  padding: 2vh 2vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;

}
label {
  font-size: 3vw;
}
.timer, .moves, .player, .difficulty {
  width: 10vw;
  height: 3vh;
  margin-left: 12vw;
  display: inline-block;
}
#count, #difficulty, #player {
  font-size: 3vw;
  
}

.card {
	perspective: 1000;
	margin: 1vh 1vh;
  float: left;
  flex-shrink: 1;
}

	.card.clicked .flipper {
		transform: rotateY(180deg);
	}

.card, .front, .back {
	width: 7em;
	height: 7em;
}

.flipper {
	transition: 0.6s;
		transform-style: preserve-3d;
    width: 7em;
  	height: 7em;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;
  width: 7em;
	height: 7em;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
  background-color: red;
}


.back {
	transform: rotateY(180deg);
  background-color: #FFD034;
}
