.page2 {
  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  background-color: #0072BB;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 3vh;
}
label {
  font-size: 3vw;
}
.timer, .moves{
  width: 20vw;
  height: 3vh;
  margin-left: 20vw;
  display: inline-block;
}




.card {
	display: inline-block;
	perspective: 1000;
	margin: 50px;
}

	.card.clicked .flipper {
		transform: rotateY(180deg);
	}

.card, .front, .back {
	width: 320px;
	height: 330px;
}

.flipper {
	transition: 0.6s;
		transform-style: preserve-3d;
		width: 400px;
		height: 400px;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	border: 2px solid black;
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 330;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
  background-color: red;
}


.back {
	transform: rotateY(180deg);
  background-color: blue;
}
