.page {
  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  background-color: #0072BB;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 7vh;
}

.content {
  width: 30vw;
  height: 30vh;
  background-color: #FF4C3B;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  border: 2px solid #FFD034;
box-shadow: 0px 20px 31px 26px rgba(46,74,117,1);
}
input {
  width: 15vw;
  height: 5vh;
  border: 2px solid white;
  background-color: #FFD034;
  text-align: center;
  font-size: 19px;
  margin: 5vh 0;
  border-radius: 10px;
}
input:focus {
  background-color: white;
}
.play {
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  width: 15vw;
  background-color: #FFD034;
  border-radius: 10px;
  font-size: 3vw;
  text-decoration: none;
  text-align: center;
  color: #000000;
  padding: 10px;
  border: 5px solid black;

}
.dropbtn {
    background-color: #FFD034;
    color: black;
    padding: 16px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    width: 20vw;
    border: 2px solid white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 20vw;
    margin: 0 auto;
}

.dropdown-content a {
    color: #1500FF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    color:black;

}
.dropdown-content a:hover {background-color: #FFD034}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4B3BFF;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 15% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
background-color: #FFD034;
border: 5px solid #FF4C3B;
text-align: center;
}

#fb, #twitter {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#HSButton {
  padding: 10px;
  background-color: #0072BB;
  color: #FF4C3B;
  font-weight: bolder;
}

.page3 {
  width: 80vw;
  height: 80vh;
  border: 5px solid #000000;
  background-color: #0072BB;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 7vh;
  display: none;
  position: relative;
}

#newGame {
  padding: 20px;
  background-color: #FF4C3B;
  color: black;
  font-weight: bolder;
  border-radius: 10px;
  display: none;
  margin: 0 auto;
}

#easyScores, #mediumScores, #hardScores {
  position: absolute;
  width: 28%;
  height: 80%;
  background-color: yellow;
  margin: 5% 5%;
}
  #mediumScores {
    left: 30%;
  }
  #hardScores {
    left: 60%;
  }
  i {
  margin: 10px 0 0 15px;

  }
  li, h1 {
    text-align: center;
  }
